body {
    margin: 0;
}

.header {
    background: #f1f1f1;
    height: 70px;
}

.container {
    max-width: 1170px;
    margin: 5px auto;
}


.mainTitle {
    color: #dd4b39;
    font-size: 20px;
}

.mainContainer {
    display: flex;
}

.navContainer {
    width: 350px;
    min-height: 700px;
}

.content {
    width: 100%;
    min-height: 700px;
}